{{> base_header }}
{{%FILTERS}}
<h2>My Tasks</h2>
<p>Keep track of what needs to get done! Add, modify and complete your tasks below.</p>
<table id="tasks" class="table table-bordered">
<tr>
    <th scope="col">Task</th>
    <th scope="col">Due</th>
    <th scope="col">Actions</th>
</tr>
{{# tasks }}
    <tr id="task-{{ id }}">
        <td class="task-name">{{ task }}</td>
        <td class="task-due">{{ due | date.format }}</td>
        <td class="actions"><a class="btn btn-success complete-task">Complete</a> <a class="btn edit-task">Edit</a> <a class="btn btn-danger del-task">Delete</a></td></tr>
{{/ tasks }}
</table>

<div id="add-form">
<h3>Add Task</h3>
<p>Have some work to do? Write it down here!</p>
<form id="new-task">
    <fieldset>
        <legend>Make yourself a task</legend>
        <label for="task">What needs to get done?</label>
        <input type="text" id="task" name="task" />

        <label for="due">When does this need to be finished?</label>
        <input type="text" id="due" name="due" />

        <p><input type="hidden" name="action" value="create" /><input type="submit" class="btn btn-success" value="Create" /> <a href="" id="cancel-create" class="btn">Cancel</a></p>
    </fieldset>
  </form>
</div>

<p><a id="add-task" class="btn btn-primary">Add Task</a></p>
{{> base_footer }}
